<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about page</title>
</head>
<body>
    <h1>About Page</h1>
    <img src="/static/bird1.jpg" alt="bird image" width="500" height="500">
    <img src="/static/bird2.jpg" alt="bird image" width="500" height="500">
    <img src="/static/bird5.jpg" alt="bird image" width="500" height="500">
    <ul>
        <li><a href="/myapp/home/">Home</a></li>
        <li><a href="/myapp/about/">About</a></li>
        <li><a href="/myapp/contact/">Contact</a></li>
    </ul>
</body>
</html>